.MyStocks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;

    .secondaryHead {
        align-self: flex-start;
    }

    .tableContainer {
        overflow-x: auto;
        width: 100%;
    }

    .MyStocksTable {
        width: 100%;
        border-collapse: collapse;

        td,
        th {
            border: 1px solid #dddddd;
            padding: 0.5em;
        }

        thead {
            background-color: #3260cb;
            color: white;
        }

        .StopTrackingBtn {
            background-color: #e00;
            border-radius: 5px;
            border-width: 1px;
            color: white;
            padding: 5px 20px;
            cursor: pointer;

            &:hover {
                background-color: #f00;
            }
        }
    }
}
